<div>
  <div>
    <!-- <form (ngSubmit)="onSubmit(form)" #form="ngForm"> -->
    <form (ngSubmit)="onSubmitWithChildren()" #form="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" ngModel name="username" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" ngModel name="email" />
      </div>
      <div class="form-group">
        <label for="secret">Secret Questions</label>
        <select id="'secret" name="secret" ngModel>
          <option value="pet">Your first Pet?</option>
          <option value="teacher">Your first teacher?</option>
        </select>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
