<div>
  <h1>The footer component created manually</h1>
  <h2>{{ course }}</h2>
  <img [src]="src" alt="" angular />

  <input (input)="change($event)" />

  <input [(ngModel)]="text" #testInput />
  <button [disabled]="disabled" (click)="Save(testInput)">Submit</button>

  <!-- Directives -->
  <!-- Class attribute -->

  <div [ngClass]="isSpecial ? 'special' : ''">This div is special</div>
  <button (click)="toggleClass()">Toogle Class</button>
  <!-- ngStyle -->

  <div [ngStyle]="currentStyles">This div contains dynamic styles</div>
  <div [ngClass]="{ legal: isLegal }">Checking the boolean class</div>
  <input #student />
  <button (click)="addStudent(student.value)">Add student</button>
  <!-- structural directives -->
  <div *ngIf="students.length; else nodata">
    The number of students are {{ students.length }}
  </div>
</div>
<ng-template #nodata> No students available </ng-template>
<div *ngFor="let item of items" >{{item.name}}</div>
