<h1>{{ componentName }}</h1>
<div>
  {{message}}
  <div>
    
   
  </div>
  <div *ngFor="let todo of todos; let i = index">
    <div *ngIf="todo.completed; else uncompleted">
      <h2>{{ todo.todo }}</h2>
      <p>Completed: {{ todo.completed }}</p>
    </div>
    <ng-template #uncompleted>
        <!-- <div *ngFor="let todo of todos; let i = index">
            <div *ngIf="todo.completed>
              <h2>{{ todo.todo }}</h2>
              <p>Completed: {{ todo.completed }}</p>
            </div>
        </div> -->
        <h1>incomplete {{todo.todo}}</h1>
    </ng-template>
  </div>
</div>
<ng-content></ng-content>

<ng-template>THE CONTENT IN A TEMPLATE</ng-template>